.menu ul{
    list-style-type:none;
    overflow:hidden;
}
.menu li{
    float: left;
    padding-left:5%;
}

.menu li a {
    display:block;
    color:aquamarine;
    text-align:center;
    margin: 10x;
    padding: 20px;
    font-family: 'Press Start 2P', system-ui;
    letter-spacing:6px;
    font-size:25px;
    font-weight:300;
    text-shadow:3px 2px darkgray;
    
}

.menu li a:hover {
    background-image:linear-gradient(red, orange, yellow, green, blue, indigo, violet) ;
    opacity: 0.6;
    border-radius: 30%;
    border: 3px dashed;
    border-color:gold;
}
h1{
    font-family: 'Wallpoet', sans-serif;
    color:black;
    text-shadow: 2px 2px darkgray;
    font-size: 70px;
letter-spacing:15px;
background-color:darkturquoise;
width:900px;
}
body{
    background-size: 120% 130%;
    background-repeat:no-repeat;
}
h3{
    font-family: 'Rubik Iso', system-ui;
    color:orange;
    font-size:60px;
    letter-spacing:5px;
    padding: top 25%;
}

img{
    padding-left:200%;
    width: 10%;
    padding-left:2px;
    margin-left: 70%;
}

img:hover{
    width: 20%;
    border:10px;
}

h2{
padding-left:20%;
border:15px;
font-family: 'Wallpoet', sans-serif;
letter-spacing:7px;
font-size:50px;
padding-top:10%;
float:left;
color:darkblue;
text-shadow: 2px 2px black;
}
