*{
    padding:0;
    margin:0;
}
.menu ul{
    list-style-type:none;
    overflow:hidden;
}
.menu li{
    float: left;
    padding-left:6%;
}

.menu li a {
    display:block;
    color:aquamarine;
    text-align:center;
    margin: 10x;
    padding: 20px;
    font-family: 'Press Start 2P', system-ui;
    letter-spacing:6px;
    font-size:25px;
    font-weight:300;
    text-shadow:3px 2px darkgray;
    margin-top:10%;
}

.menu li a:hover {
    background-image:linear-gradient(red, orange, yellow, green, blue, indigo, violet) ;
    opacity: 0.6;
    border-radius: 30%;
    border: 3px dashed;
    border-color:gold;
}


body{
    background-size: 110% 110%;
    background-repeat:no-repeat;
}
h2{
    font-family: 'Wallpoet', sans-serif;
    color:lightgreen;
    text-shadow: 3px 3px white;
    letter-spacing: 7px;
    font-size:70px;
    padding-top:17%;
    margin-bottom:5%;
}
h3{
    font-family: 'Press Start 2P', system-ui;
    color:white;
    background-color:aqua;
    font-size: 30px;
    text-shadow: 2px 2px darkblue;
    width:45%;
padding:2%;
margin:2px;

}
h3:hover{
    background-color:white;
    color:aqua;
    text-shadow:2px 2px darkblue;
}

h1{
    font-family: 'Wallpoet', sans-serif;
    color:darkkhaki;
    font-size:80px;
    text-shadow:2px 2px black;
    letter-spacing:5px;
    margin-top:7%;
}
.pic{
    width:15%;
    margin-left:70%;
    margin-bottom:2%;
}
.pic2{
    width:15%;
    margin-left:70%;
    margin-bottom:7%;
}
.pic3{
    width:15%;
    margin-left:70%;
    margin-bottom:10%;

}
.pic4{
    width:15%;
    margin-left:68%;
    margin-bottom:30%;
}
img{
    border-style:groove;
    border: 20px groove darkblue;
}
img:hover{
    width:25%;
}